@media (min-width: 800px) and (max-width: 1279px) {
    .navigation {
        max-width: 800px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .hero {
        max-width: 800px;
        gap: 32px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .hero_title {
        font-size: 58px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .intro {
        max-width: 800px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .intro_bigtitle {
        font-size: 48px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .preview_title {
        font-size: 34px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .preview__card_content {
        gap: 54px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .preview__card_content_text {
        gap: 24px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .preview-1 {
        max-width: 800px;
        padding: 20px 24px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .preview-1__card {
        gap: 60px;
        padding: 64px 50px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .preview-2 {
        max-width: 800px;
        padding: 20px 24px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .preview-2__card {
        gap: 60px;
        padding: 64px 50px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .preview-3 {
        max-width: 800px;
        padding: 20px 24px;
    }   
}

@media (min-width: 800px) and (max-width: 1279px) {
    .preview-3__card {
        gap: 60px;
        padding: 64px 50px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .testimonials {
        max-width: 800px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .testimonials_heading {
        font-size: 48px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .testimonials__quotes {
        gap: 28px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .tesitmonials_title {
        font-size: 24px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .picture {
        max-width: 800px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .benefits {
        max-width: 800px;
        gap: 100px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .benefits_title {
        font-size: 48px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .benefits__cards {
        flex-direction: column;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .benefits__card {
        border-left: none;
        border-top: 1px solid #2E4F21;
        padding: 20px 160px 20px 0;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .benefits__card_title {
        font-size: 26px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .cta {
        max-width: 800px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .cta_title {
        font-size: 34px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .experts {
        max-width: 800px;
        padding: 160px 80px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .experts_title {
        font-size: 48px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .footer {
        max-width: 800px;
        padding: 32px;
        gap: 80px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .footer__label {
        justify-content: space-between;
    }
}

/* Services */

@media (min-width: 800px) and (max-width: 1279px) {
    .navigation__main {
        max-width: 800px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .navigation__main_title {
        font-size: 58px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .guide {
        max-width: 800px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .guide__card {
        flex-direction: column;
        gap: 16px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .guide__card__content {
        flex-direction: column;
        padding: 24px 24px 80px 24px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .guide_subtitle {
        font-size: 48px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .guide__card_title {
        font-size: 34px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .philosophy {
        max-width: 800px;
        padding: 80px 40px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .philosophy__card {
        width: 720px;
        padding: 60px 40px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .philosophy_subtitle {
        font-size: 48px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .philosophy__card_text {
        font-size: 26px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .connect {
        max-width: 800px;
        padding: 80px 40px;
        gap: 24px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .connect__content {
        padding: 60px 0;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .connect_text {
        font-size: 48px;
    }
}

/* Book */

@media (min-width: 800px) and (max-width: 1279px) {
    .book__navigation {
        max-width: 800px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .book__hero {
        max-width: 800px;
        gap: 32px;
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .book_title {
        font-size: 48px;
    }
}